{
  "Comment": "optional comment about the changes in this change batch request",
  "Changes": [
    {
      "Action": "DELETE",
      "ResourceRecordSet": {
        "Name": "etcdnum.tldname",
        "Type": "A",
        "TTL": 30,
        "ResourceRecords": [
          {
            "Value": "etcdip"
          }
        ]
      }
    }
  ]
}
